<%- include('./components/header.ejs') %>

<style>

    *
    {
        color: rgb(118, 118, 118);
    }

    .container {
        width: 90%;
        margin: auto;
    }

    .add_teacher
    {
        padding: 50px;
        border-radius: 20px;
        box-shadow: 0px 0px 5px grey;
    }

    .line
    {
        width: 60%;
        margin: auto;
        height: 1px;
        background-color: black;
    }

</style>


<div class="container">


    <div align="center">
        <h2>Admin panel</h2>
        <p>The control is here</p>
    </div>

    <div class="line"></div>

    <br><br>



    <% if (user.role >= 1)
{
    %>

    <!-- prevl -->
    <div class="row">

        <div class="add_teacher col-sm-6">
            <form action="/admin/handle_add_teacher" method="post">
                <label for="name">Add a new teacher</label>
                <input class="form form-control" id="name" name="name">
                <br>
                <button class="btn btn-default" role="button" type="submit">Add</button>
            </form>
        </div>

        <div class="col-sm-1"></div>

        <div class="add_teacher col-sm-5">
            
            <p>Email: <%= user.email %> </p>
            <p>Privilege: <%= user.role %> </p>
            <p>Super: <%= user.super %> </p>

            <br>

        </div>

    </div>


    <% 
    }
%>



    <% if (user.super == 1)
{
    %>
    <!-- super -->
    <br><br>
    <h1>Super Access</h1>
    <form action="/admin/handle_add_college" method="post">
        <h2>Add a college</h2>
        <!-- 
        For adding a college
        required: name
     -->
        <input name="name" required>
        <button class="btn btn-default" role="button" type="submit">Add</button>


    </form>


    <form action="/admin/handle_add_branch" method="post">
        <h2>Add a new branch</h2>
        <input name="name" required>
        <button role="button" type="submit">Add</button>

    </form>


    <form action="/admin/handle_add_year" method="post">
        <h2>Add a new year</h2>
        <input name="name" required>
        <button role="button" type="submit">Add</button>

    </form>



    <!-- change identity -->

    <form action="/admin/change_identity" method="post">

        <h2>Change college, branch, year</h2>

        <p>Colleges</p>
        <select name="college_id">
            <% colleges.forEach((college, index) =>
        {
            %>
            <option value="<%= college._id.toString() %>"><%= college.name %></option>></option>
            <%
        }) %>

        </select>

        <p>Branch</p>
        <select name="branch_id">
            <% branches.forEach((branch, index) =>
        {
            %>
            <option value="<%= branch._id.toString() %>"><%= branch.short_name %></option>
            <%
        }) %>

        </select>

        <p>Years</p>
        <select>
            <% years.forEach((year, index) =>
        {
            %>
            <option value="<%= year._id.toString() %>"><%= year.name %></option>
            <%
        }) %>

        </select>

        <button class="btn btn-default">Submit</button>

    </form>

    <%
}
%>

    <h1>Verdict: <%= message %> </h1>

</div>