<%- include('./components/header') %> 



<h2>Session data  </h2>

<p>email <%= session.email %></p>
<p>college <%= session.college %></p>
<p>branch <%= session.branch %></p>
<p>role <%= session.role %></p>
<p>super <%= session.super %></p>